.root {
  display: inline-flex;
}

.hero {
  max-width: 35%;
}

.hero-image {
  display: flex;
  max-width: 100%;
  height: auto;
  background-size: 100% 100%;
}

.main {
  width: 65%;
  text-align: center;
  justify-content: right;
  display: flex;
  padding: 90px 10px 90px 10px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.login-container {
  height: auto;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  text-align: left;
  margin: auto;
  padding: 30px 30px 30px 30px;
  flex-direction: column;
}

.login-container h1{
  margin: 30px 20px 30px 20px;
  font-weight: bolder;
  font: black;
}

.form-inputs input{
  display: inline-flexbox;
  margin: 0px 20px 10px 20px;
  width: 90%;
  border: none;  
  border: 2px solid grey;
  border-radius: 6px;
  box-shadow: none;
  background: transparent;
  color: black;
  height: 40px;
}

.form-inputs input:focus{
  display: inline-flexbox;
  margin: 0px 20px 10px 20px;
  padding: 0px 10px 0px 10px;
  width: 90%;
  border: 2px solid #289944;  
  border-radius: 6px;
  background: transparent;
  color: #289944;
  height: 40px;
}

.form-inputs label{
  margin: 0px 20px 5px 20px;
  padding: 5px 0px;
  font-weight: bold; 
}

.login-button button {
  width: 90%;
  height: 40px;
  margin: 25px 20px 10px 20px;
  padding: 5px 0px;
  font-weight: bold;
  border-radius: 6px;
  background-color: #289944;
  color: white;
  border: none;
}

.linkup-button button {
  width: 70%;
  height: 35px;
  margin: 0px 20px 10px 20px;
  padding: 5px 0px;
  font-weight: bold;
  border-radius: 6px;
  background-color: black;
  color: white;
  border: none
}

.linkup-button h5 {
  overflow: hidden;
  margin: 15px 5px;
  text-align: center;
  font-size: smaller;
  font-weight: bolder;
}

.linkup-button h5:before,
h5:after {
  background-color: rgb(164, 164, 164);
  content: "";
  display: inline-block;
  height: 0.5px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}

.linkup-button h5:before {
  right: 5px;
  margin-left: -50%;
}

.linkup-button h5:after {
  left: 5px;
  margin-right: -50%;
}

.forgot-pass {
  display: inline-flex;  
  font-size: x-small;
  text-align: right;
  margin: 10px 5px 10px 210px;
}

.forgot-pass :link {
  text-decoration: none;
}

.sign-up-prompt {
  outline: none;
  font-size: smaller;
  text-align: center;
  margin: 5px 0px 10px 0px;
}

.sign-up-prompt :link {
  font: #289944 !important;
  text-decoration: none;  
}
